@page
@using HomeLib.Pages.Books
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Home Lib</h1>
    <p>Yours private library</p>
    <p>Currently reading: Some book</p>
    <p>Next book to read: Some book</p>
    <p>Recently read: Some book</p>
    <a class="btn btn-primary" asp-page="@Url.Page("Books/NewBook")" role="button">Add new book</a>
</div>
