@page
@model Troubles
@{
    ViewData["Title"] = "Troubles";
}

<h1>Something went wrong - @Model.OriginalStatusCode</h1>
<p>Double check what your try to find <code>@Model.OriginalPathAndQuery</code></p>
